* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
}

body {
    background-color: #3c3c3c;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #1e1d1d;

    position: fixed;
    top: 0;
    z-index: 10;

}

nav .logo {
    display: flex;
    border-radius: 5px;
}

nav i {
    color: #dddee4;
    font-size: 1.2rem;
}

.logo a {
    text-decoration: none;
    font-size: 1.9rem;
    color: #fffdfd;
    font-weight: 500;
    padding: 5px 20px;
}

.logo a:hover {
    color: #dddee4;
}

#selector {
    display: none;
}

#open,
#close {
    display: none;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links a {
    text-decoration: none;
    margin-left: 30px;
    color: #ffffff;
}

.links .home {
    padding-left: 80px;
}

.links .sign {
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid #f5f5f5;
}

@media (min-width:0) and (max-width:550px) {

    nav .links {
        flex-direction: column;
        width: 70%;
        height: 100vh;
        background-color: rgb(82, 82, 82);

        position: fixed;
        top: 0;
        right: -70%;
        align-items: start;
    }

    .links .home {
        padding: 0;
    }

    .links a {
        margin-top: 50px;
    }

    nav #open,
    #close {
        display: block;
    }

    #open {
        margin-left: 50px;
    }

    #close {
        padding: 20px 0 0 30px;
    }


    #selector:checked~.links {
        right: 0px;
    }

}

@media (min-width:550px) and (max-width:950px) {
    nav .links {
        flex-direction: column;
        width: 70%;
        height: 100vh;
        background-color: rgb(82, 82, 82);

        position: fixed;
        top: 0;
        right: -70%;
        align-items: start;
    }

    .links .home {
        padding: 0;
    }

    .links a {
        margin-top: 50px;
    }

    nav #open,
    #close {
        display: block;
    }

    #open {
        margin-left: 50%;
    }

    #close {
        padding: 20px 0 0 30px;
    }


    #selector:checked~.links {
        right: 0px;
    }

}

@media (min-width:950px) and (max-width:1300px) {
    nav {
        width: 100%;
        padding: 0 30px;
    }

    nav .links a {
        margin: 10px;
    }

    nav .links .home {
        padding: 0;
    }

}

/* For home section */
main {
    color: rgb(214, 212, 212);
}

/* For heading */

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 40px;
    font-weight: 500;
    color: #f5f5f5;
}

@media (min-width:0px) and (max-width:550px) {
    main h1 {
        font-size: 2rem;
        margin-top: 20px;
    }
}

/* for heading's underline */

.line {
    width: 10vw;
    height: 5px;
    background-color: #959191;
    margin: auto;
    margin-bottom: 50px;
}

@media (min-width:0px) and (max-width:550px) {
    main .line {
        margin-bottom: 20px;
    }
}

#home .container {
    width: 90%;
    margin: auto;
    margin-top: 150px;
    color: rgb(214, 212, 212);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.container .cont-img {
    img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }
}

.container .head {
    margin: 0;
    position: absolute;
    text-align: center;
    line-height: 1.3;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.3rem;
    }

}

@media (min-width:0px) and (max-width:550px) {
    #home .container {
        width: 90%;
        height: 180px;
        margin: 120px auto 0 auto;
        line-height: 1.3;

        h1 {
            font-size: 14px;
        }

        p {
            font-size: 10px;
        }
    }
}

@media (min-width:550px) and (max-width:950px) {
    #home .container {
        width: 90%;
        height: 350px;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

/* for Products section */

#product {
    width: 90%;
    margin: auto;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    gap: 30px;
}

.boxes .box {
    border: 2px solid #4e0a88;
    margin-bottom: 50px;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #000000;
}

.box:hover {
    transform: translateY(-8px);
    box-shadow: 10px 10px 20px #6d3e77, -10px -10px 20px #333569;
}

.box img {
    height: 240px;
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.box h3 {
    font-size: 1.2rem;
}

.box a {
    display: inline-block;
    text-decoration: none;
    padding: 4px 20px;
    margin: 15px 0;
    background-color: #9d0ebdb3;
    color: rgb(214, 212, 212);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.box a:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 8px #520f8d, -3px -3px 8px #5f1270;
}

@media (min-width:0px) and (max-width:550px) {
    #product .boxes {
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        .box {
            margin-bottom: 20px;

            img {
                height: 120px;
            }

            h3 {
                font-size: 15px;
            }

            a {
                font-size: 10px;
            }
        }
    }
}

@media (min-width:550px) and (max-width:1100px) {
    #product .boxes {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;

        .box {
            margin-bottom: 20px;

            img {
                height: 180px;
            }

            h3 {
                font-size: 15px;
            }

            a {
                font-size: 10px;
            }
        }
    }
}



/* for about us section */

#about {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;

}

/* for about us content */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0 50px 0;
    background-color: #1e1d1d;
    border-radius: 15px;


}

/* for about us description */

.about .desc {
    width: 80%;
    margin-left: 150px;
    text-align: justify;
    line-height: 2;
}

.desc h2 {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
}

/* for about us image */

.about .about-img {
    margin: auto;
}

.about img {
    width: 350px;
    border-radius: 20px;
    transition: all 0.3s ease;
    margin-left: 70px;
}

.about img:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 20px #6d3e77, -5px -5px 20px #333569;
}

@media (min-width:0px) and (max-width:550px) {
    #about .about {
        width: 95%;
        grid-template-columns: 1fr;
        margin: auto;

        .desc {
            margin: 15px auto;
        }


        .about-img {
            grid-row: 1/2;

            img {
                width: 90%;
                margin-left: 17px;
            }
        }
    }
}

@media (min-width:550px) and (max-width:1100px) {
    #about .about {
        width: 100%;
        margin: auto;

        .desc {
            margin: 15px auto;
        }

        img {
            width: 90%;
            margin-left: 17px;
        }
    }
}

/* For footer */

footer {
    width: 100%;
}

footer #contact {
    text-align: center;
}

/* for address details */

#contact .contain {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
    background-color: #1e1d1d;
    color: #f5f5f5;
    border-radius: 15px;
    padding: 30px;
}

.contain .contact {
    width: 80%;
    text-align: left;
    margin: 20px 0 0 80px;
    line-height: 1.8;
}

/* for social media links */

.contact i {
    font-size: 1.5rem;
    margin: 5px;
    color: #343434;
    background-color: #f5f5f5;
    padding: 3px;
    border-radius: 5px;
}

/* FOr contact form */

.submit input {
    width: 37%;
    padding: 10px;
    margin: 10px 20px;
    font-size: 1.1rem;
    border-radius: 3px;
    border: none;
}

.submit .email {
    width: 81%;
    margin-bottom: 20px;
}

.submit textarea {
    width: 81%;
    height: 80px;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

/* For sumit and reset button */

.submit button {
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #7f7e7e;
    color: #f5f5f5;
    transition: all 0.2s ease-in;
    margin: 20px;
}

.submit button:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 10px rgb(55, 54, 54);
    cursor: pointer;
}

/* For copyright section */

.copy {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    width: 100%;
    margin: auto;
    background-color: #141414;
    color: #f5f5f5;
}

.copy a {
    display: inline-block;
    color: #f5f5f5;
    margin-left: 20px;

}

@media (min-width:0) and (max-width:550px) {
    footer {
        width: 100%;
    }

    footer #contact {
        width: 100%;
        margin: auto;
    }

    #contact .contain {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .contain .contact {
        text-align: center;
        margin: auto;

        h2 {
            font-size: 23px;
        }
    }

    .contain .submit {
        width: 90%;
        margin: auto;
    }

    .submit h2 {
        text-align: center;
    }

    .submit input {
        display: flex;
        margin: auto;
        margin-top: 20px;
        width: 100%;
    }

    .submit .email {
        width: 100%;
        margin: auto;
    }

    .submit textarea {
        width: 100%;
        margin: auto;

    }


    .copy {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}

@media (min-width:550px) and (max-width:1100px) {
    footer {
        width: 100%;
    }

    footer #contact {
        width: 90%;
        margin: auto;
    }

    #contact .contain {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .contain .contact {
        text-align: center;
    }

    .contain .submit {
        width: 90%;
        margin: auto;
    }

    .submit h2 {
        text-align: center;
    }

    .submit input {
        display: flex;
        margin: auto;
        margin-top: 20px;
        width: 100%;
    }

    .submit .email {
        width: 100%;
        margin: auto;
    }

    .submit textarea {
        width: 100%;
        height: 100px;
        margin: auto;

    }


    .copy {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}